{% extends "base.html" %} {% block title %}Player_info{% endblock %}

{% block content %}
<a href="/player" class="btn btn-primary">All player</a>
<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">{{lastname}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{firstname}}</h6>
      <p class="card-text">position : {{position}}</p>
      <p class="card-text">height feet :{{height_feet}}</p>
      <p class="card-text"> height inches :{{height_inches}}</p>
      <p class="card-text"> weight pounds:{{weight_pounds}}</p>
    </div>
  </div>

<form method="POST">
    <button name ='team' value={{teamid}}>team</button>
</form>
{% endblock %}