{% extends "base.html" %} {% block title %}Player{% endblock %}

{% block content %}
<h1 class="page">Page: {{ current_page }}</h1>


<form method="POST">
    <button type="submit" name="next">Next page</button>
</form>


<form method="POST">
    <button type="submit" name="precedent">Precedent page</button>
</form>

{%for firstname in first_names%}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{last_names[loop.index0]}}</h5>
      <p class="card-text">{{firstname}}</p>
      <form method="POST">
        <button name = "moreinfo" type="submit" class="button_moreinfo" value={{ids[loop.index0]}}><a>More Info</a></button>
    </form>
    </div>
</div>

{% endfor %}
{% endblock %}